* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-title {
  width: 100vw;
  height: 10vh;
  border: solid 3px red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-map-container {
  width: 100vw;
  height: 90vh;
  border: royalblue solid 3px;
  display: flex;
}

.filter-form {
  width: 20%;
  height: 100%;
  border: solid 3px green;
}

#map {
  width: 80%;
  height: 100%;
  border: orange solid 3px;
}

form {
  display: flex;
  flex-direction: column;
}

#marker-popup {
  display: none;
}

.mapboxgl-popup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5px;
  /* width: 600px; */
  height: 450px;
  overflow: hidden;
  margin: auto;
}

.mapboxgl-popup-content h2 {
  color: blue;
}

.mapboxgl-popup-content span {
  font-weight: 800;
  font-size: 14px;
}

.mapboxgl-popup-content img {
  height: 250px;
  object-position: center;
  object-fit: cover;
  border-radius: 5px;
}

.mapboxgl-popup-content p {
  font-size: 14px;
}
